// Footer
footer.footer
  .container
    
    .footer__wrapper
      .footer__logo
        img(src="./images/logo-footer.png", alt="")
      .footer__nav
        ul
          li: a(href="#!") Оплатить занятия
          li: a(href="#!") Личный кабинет
      .footer__social
        ul
          li: a(href="#!")
            i.icon-social.icon-social--whatsapp
            | WhatsApp
          li: a(href="#!")
            i.icon-social.icon-social--telegram
            | Telegram
          li: a(href="#!")
            i.icon-social.icon-social--email
            | Email
          li: a(href="#!")
            i.icon-social.icon-social--youtube
            | YouTube
          li: a(href="#!")
            i.icon-social.icon-social--tiktok
            | TikTok
      .footer__copyright
        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAYAAAC9BQwsAAAB40lEQVQ4jW3UTYiNURgH8N977yXXV1FSSoPVPVYkyXL2PhbKYGOjLKZkpUgTGzXZKFla+Cjjq0gJyXKkiCl5SpOPGiElQkZz516Le97xzuSp0+k95/mf//95/ue8RavV6sdpvRiOiOvmREppPvbgGD7jVA1HcSXPR1JKK+cCsRqDOIwbGKqhiat4gu9YP4etjnX4ifu4g6KGNho5r43OHLYupvMMdbRr+aPIcwdLUkorKsA+LMVUzitQNCoJ01iMs/iYUnqaFfTnciYiopNSKqBWAdawACPYj83YhO25Icsq0meAnbzwFXfxDvcwGhETeIRvJVsJbOfRzIU3MS9L/11RNKtpjSzhDBZiI4bwCVv1/C1Bxf+Az3AZ5zJbPUvdm1Jamzu6KCK6KaUZ4AcM431ETJcnppSa2IELmMTDvFUvge2yWymlbRjADyzP4y0e4FrOm7GjQBERHXzBS7zS83QMBzESEX9KgpKxBMu1juW1cZzMh05l+UXeq5U+roKIaEfEpJ4N4xgta6rU14dGLTPsrrY6Irp4g+N6r6IKHMCLBi7iUkppV0TcrIA7+GV2DOpdw31Fq9Waj504gVu4rXf1qi9nTVa1AYfwuOh2u+WvYQsO5Bq6/0gUepY9x3m8jojOX80UmCFBA4SpAAAAAElFTkSuQmCC", alt="")
        | Музыкальная школа
        br 
        | Sunday Rock Online, 2020
  
