// Header
header.header.--v3
  .container
    
    .header__wrapper
      .logo.header__logo
        img(src="./images/logo.png", alt="")
      button(type="button").header__whatsapp Написать нам
      button(type="button").header__btn Войти