/* header */
.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin-top: 50px;
  &.is-scroll {
    // background-color: rgba($color-white,.1);
    background-color: rgba(#ae0101,.8);
  }
  &__wrapper {
    height: 107px;
    display: flex;
    align-items: center;
    transition: height 0.35s;
    max-width: 1007px;
    margin: 0 auto;
    .is-scroll & {
      height: 67px;
    }
  }
  &-holder {
    height: 107px;
  }
  &__btn {
    height: 51px;
    min-width: 155px;
    border-radius: 35px;
    background: linear-gradient(to bottom, #ffff83, #ffff5a);
    color: $primary-color;
    transition: all 0.35s;
    font-weight: 600;
    font-size: rem(22px);
    margin-left: 90px;
    &:hover {
      opacity: 0.7;
    }
  }
  &__whatsapp {
    display: flex;
    align-items: center;
    font-size: rem(22px);
    color: $color-white;
    font-weight: 600;
    transition: all 0.35s;
    &::before {
      content: '';
      width: 57px;
      height: 57px;
      background: url('../images/icon-whatsapp.png') 0 0 no-repeat;
      margin-right: 15px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__logo {
    flex-grow: 1;
    img {
      display: block;
    }
  }
}
